.container__header {
  display: flex;
  flex: 1;
  background-color: $bg--color;
  max-height: 92px;
  min-height: 92px;
  justify-content: center;
  align-items: center;
}


.ant-input {
  border: none;
  color: white;
  background-color: $bg--color;
  text-align: center;
  height: 44px;
  border-bottom: 1px solid white;
  

  &:focus {
    border: 1px solid white;
  }

  &::placeholder {
    color: white;
  }
}


.ant-input:focus {
  outline: 0;
  border: none;
  border-bottom: 1px solid white !important;
  box-shadow: none;
}